<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Editar Informações</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<style>
	.btn-primary {
		background-color: #8257e5;
		border-color: #8257e5;
	}

	.btn-primary:hover {
		background-color: #6c63ff;
		border-color: #6c63ff;
	}
</style>

<body>
	<nav class="navbar navbar-light bg-dark px-5">
		<a class="navbar-brand" href="/usuarios">
			<img src="http://owltech.net.br/images/LogoPrincipal.png" width="150" class="d-inline-block align-top" alt="">
		</a>
		<a href="/">
			<p>Sign out</p>
		</a>
	</nav>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Editar Informações</h1>
		</div>
		<div class="card">
			<form class="card-body" method="POST" th:object="${usuario}" th:action="@{/usuarios}">
				<div class="row">
					<div>
						<input type="hidden" class="form-control mt-3" placeholder="Nome do usuario" th:field="*{id}">
					</div>

					<div class="form-group mb-3 col-sm">
						<label for="nome">Nome</label>
						<input type="text" class="form-control mt-3" placeholder="Nome do usuario" th:field="*{nome}">
					</div>
					<div class="form-group mb-3 col-sm">
						<label for="email">Email</label>
						<input type="email" class="form-control mt-3" placeholder="E-mail do usuario" th:field="*{email}">
					</div>
					<div class="form-group mb-3 col-sm">
						<label for="materia">Matéria</label>
						<input type="text" class="form-control mt-3" placeholder="Matéria" th:field="*{materia}">
					</div>
				</div>
				<div class="row">
					<div class="form-group mb-3 col-sm">
						<label for="imagem">Imagem</label>
						<input type="text" class="form-control mt-3" placeholder="Foto de perfil" th:field="*{imagem}">
					</div>
					<div class="form-group mb-3 col-sm">
						<label for="custo">Custo da aula</label>
						<input type="text" class="form-control mt-3" placeholder="Custo da aula" th:field="*{custo}">
					</div>
					<div class="form-group mb-3 col-sm">
						<label for="biografia">Biografia</label>
						<textarea type="text" class="form-control mt-3" placeholder="Sua Biografia"
							th:field="*{biografia}"></textarea>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Atualizar</button>
				<button onclick='window.history.back();' type="submit" class="btn btn-primary">Voltar</button>
			</form>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>