<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro Usuarios</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<style>
	.btn-primary {
		background-color: #8257e5;
		border-color: #8257e5;
	}

	.btn-primary:hover {
		background-color: #6c63ff;
		border-color: #6c63ff;
	}
</style>

<body>
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-4">Funcionário</h1>
		</div>
		<div class="card">
			<form class="card-body" method="POST" th:object="${usuario}" th:action="@{/usuarios}">
				<div class="row">
					<div>
						<input type="hidden" class="form-control mt-3" placeholder="Nome do usuario" th:field="*{id}">
					</div>

					<div class="form-group mb-3 col-sm">
						<label for="nome">Nome</label>
						<input type="text" class="form-control mt-3" placeholder="Nome do usuario" th:field="*{nome}">
					</div>
					<div class="form-group mb-3 col-sm">
						<label for="email">Email</label>
						<input type="email" class="form-control mt-3" placeholder="E-mail do usuario" th:field="*{email}">
					</div>
					<div class="form-group mb-3 col-sm">
						<label for="acompanhate">Materia</label>
						<input type="text" class="form-control mt-3" placeholder="Matéria" th:field="*{materia}">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Atualizar</button>
				<button onclick='window.history.back();' type="submit" class="btn btn-primary">Voltar</button>
			</form>
		</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>