<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Editar Informações</title>
    <link
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
      rel="stylesheet"
    />
    <link
      th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/global.css" />
  </head>
  <style></style>

  <body>
    <nav class="navbar navbar-light bg-dark px-5">
      <a class="navbar-brand" href="/usuarios">
        <img
          src="images/logo.png"
          width="150"
          class="d-inline-block align-top"
          alt=""
        />
      </a>
      <div class="d-flex">
        <a href="/faleConosco" class="px-3" title="Fale conosco">
          <!-- <p>Fale Conosco</p> -->
          <i class="far fa-phone fa-2x"></i>
        </a>
        <a href="/" class="px-3" title="Sair">
          <!-- <p>Sign out</p> -->
          <i class="far fa-sign-out-alt fa-2x"></i>
        </a>
      </div>
    </nav>

    <div class="container mt-5">
      <h3>Fale Conosco</h3>

      <div class="my-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="nome@exemplo.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"
          >Descrição</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
