<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Informações do professor</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>

<style>
	.btn-primary {
		background-color: #8257e5;
		border-color: #8257e5;
	}

	.btn-primary:hover {
		background-color: #6c63ff;
		border-color: #6c63ff;
	}
</style>

<body>
	<nav class="navbar navbar-light bg-dark px-5">
		<a class="navbar-brand" href="/usuarios">
			<img src="http://owltech.net.br/images/LogoPrincipal.png" width="150" class="d-inline-block align-top" alt="">
		</a>
		<a href="/">
			<p>Sign out</p>
		</a>
	</nav>
	<div class="container">
		teste
	</div>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>