@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  --bs-primary:#6c63ff;
}

html
body {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}

.btn-primary {
  background-color: #8257e5;
  border-color: #8257e5;
}

.btn-primary:hover {
  background-color: #6c63ff;
  border-color: #6c63ff;
}

a {
  text-decoration: none;
}