body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f0f0f7;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

main {
  padding: 3.2rem 0;
  max-width: 740px;
  margin: 0 auto;
}

.teacher-item {
  background: #fff;
  border: 1px solid #e6e6f0;
  border-radius: .8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.teacher-item header {
  padding: 3.2rem 2rem;
  display: flex;
  align-items: center;
}

.teacher-item header div {
  margin-left: 2.4rem;
}

.teacher-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.teacher-item>p {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.teacher-item header,
.teacher-item footer {
  padding: 3.2rem;
}


.teacher-item footer {
  padding: 3.2rem 2rem;
  background: #fafafc;
  border-top: 1px solid #e6e6f0;
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teacher-item footer strong {
  color: #8257e5;
}

.teacher-item footer a {
  width: 24.5rem;
  font-size: 1.6rem;
  justify-content: center;
}

.teacher-item footer a {
  width: 20rem;
  height: 5.6rem;
  background: #04d361;
  color: #fff;
  border: 0;
  border-radius: .8rem;
  cursor: pointer;
  font: 700 1.4rem Poppins;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: .2s;
  text-decoration: none;
}